a:link {
text-decoration:none;
}

a:hover {
}

@font-face {
	font-family:sciep;
	src: url(sciep.ttf);
}

@font-face {
	font-family:cygnet;
	src: url(cygnet.ttf);
}

a img:hover {
	text-decoration:none;
	background-color:white;
}

@font-face {
	font-family:rockwell;
	src: url(rockwell.ttf);
}